<main>
  <div class="mainBody">
    <div class="quote">
      <div *ngIf="!loading else loadingSpinner"></div>
      <ng-template #loadingSpinner>
        <i style="color: white;" class="fas fa-spinner fa-spin"></i>
      </ng-template>
      <h4>Advice # {{adviceNumber}}</h4>
      <div class="advice">
        <p>{{ quote }}</p>
      </div>
      <div class="lineSeperator">
        <img [src]="pic">
      </div>
      <div class="generateAdvice">
        <button type="button" (click)="FetchData()" class="diceBtn"><img src="images/icon-dice.svg"></button>
      </div>
    </div>
  </div>
</main>
<div class="attribution">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
  Coded by <a href="#">Aziz Hmidi</a>.
</div>
